<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/main.css">
  <title>Document</title>
</head>
<body>
  <header id="mainArea-header">
    <section class="mainArea-header--top">
      <article class="mainArea-header--topLogo">
        <img src="/images/logo.svg" alt="">
      </article><!-- mainArea-header--topLogo -->
      <article class="mainArea-header--loginForm">
        <ul>
          <li><a href="">Log in</a></li>
          <li><a href="">Sign Up</a></li>
          <li><a href="">메뉴</a></li>
        </ul>
      </article><!-- mainArea-header--loginForm -->
    </section><!-- mainArea-header--top -->
  </header><!-- header-area -->
  <main id="mainArea-main">
    <section class="mainArea-main--controller">
      <article class="mainArea-main--controller_video">
        <div class="video">
          <video autoplay loop muted src="/images/video.mp4"></video>
        </div><!-- video -->
      </article><!-- mainArea-main--controller_video -->
    </section><!-- mainArea-main--controller -->
  </main><!-- main-area -->
</body>
</html>